<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/dashboard.css" />
    <title>Spaghetti Code</title>
  </head>

  <body>

    <header>
      <img
        id="header-logo"
        src="./assets/spaghetti-code-logo.png"
        alt="spaghetti-code"
      />
      <img
        id="header-avatar"
        width="40px"
        src="<%= formattedUser.avatar_url %>"
        alt=""
      />
      <p id="header-username"><%= formattedUser.username %></p>
      <p id="header-score">Score: <%= formattedUser.score %></p>
    </header>

    <main>
      <div id="leader-board-btn">
        <button>View Leader Board</button>
      </div>
      <div class="content">
        <img src="" alt="" />
        <div>
          <p>One writes the code, the other guesses the output!</p>
        </div>
      </div>
      <div class="content">
        <img src="" alt="" />
        <div>
          <p>Head to head code challenges... who's gonna finish first?</p>
        </div>
      </div>
      <div class="content">
        <img src="" alt="" />
        <div>
          <p>Code editor... have fun with the console :D</p>
        </div>
      </div>
      <!-- <div class="content">            
            <img src="" alt="">
            <div>
                <p></p>
            </div>
        </div> -->
    </main>

    <!-- required Ace libraries -->
    <!-- <script defer src="./js/ace-editor/src-min/ace.js"></script>
    <script defer src="./js/ace-editor/src-min/mode-javascript.js"></script>
    <script defer src="./js/ace-editor/src-min/ext-language_tools.js"></script> -->
    <!-- custom scripts -->
    <!-- <script defer src="./js/home.js"></script>
    <script defer src="./js/editor-console.js"></script> -->
  </body>
</html>
