<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/editor.css">
  <title>spaghettiCode</title>
</head>
<body>
  <header>
    <img
    id="header-logo"
    src="./assets/spaghetti-code-logo.png"
    alt="spaghetti-code"
    />
    <img
    id="header-avatar"
    width="40px"
    src="<%= formattedUser.avatar_url %>"
    alt=""
    />
    <a href="/dashboard" id="header-username"><%= formattedUser.username %></a>
    <p id="header-score">Score: <%= formattedUser.score %></p>
    <a id="header-logout" href="/log-out">logout</a>
</header>
  <!-- BEM methodology: Block, Element & Modifier -->
  <div class="editor">
    <div class="editor__wrapper">
      <div class="editor__body">
        <div id="editorCode" class="editor__code"></div>
      </div>
      <div class="editor__footer">
        <div class="editor__footer--left">
          <button class="editor__btn editor__run">Run ></button>
          <button class="editor__btn editor__reset">Reset</button>
          <button class="editor__btn editor__verify">Verify >>></button>
        </div>
        <div class="editor__footer--right">
          <div class="editor__console">
            <ul class="editor__console-logs"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <!-- required Ace libraries -->
  <script src="./js/ace-editor/src-min/ace.js"></script>
  <script src="./js/ace-editor/src-min/mode-javascript.js"></script>
  <script src="./js/ace-editor/src-min/ext-language_tools.js"></script>
  <!-- custom scripts -->
  <script src="./js/editor.js"></script>
  <script src="./js/editor-console.js"></script>
</body>
</html>