@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
  --editor-bg: #eee;
  --editor-border: #3f87a6;
}

/* reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inconsolata;
}

html, body {
  height: 100%;
  width: 100%;
  background: #0b0b0b;
}

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo {
  max-width: 50%;
  max-height: 35%;
}
