
/* MAIN */
#modes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#leader-board-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10vh
}
  #leader-board-btn button {
    padding: 2%;
    color: #10f21a;
    background: #0b0b0b;
  }

.mode-link {
  height: 100px;
  width: 50%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  overflow: auto;

  border: 2px solid #10f21a;
  color: #10f21a;
  text-decoration: none;

  margin-bottom: 30px;
}
  .mode-link img {
    border: 1px solid #10f21a;
    width: 30px;
    height: 30px;
  }

/* .mode{
    border:2px solid #10f21a;
    width:50%;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
  .mode img{
      border:2px solid #10f21a;
      width: 15%;
      height: 90%;
      
  }
  .mode div{
      width: 75%;
      height:90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
  }
  .mode div p {
      color: #10f21a;
      margin: 5vh;
  } */
