main{
   display: grid;
   place-items: center;
   grid-template-columns: auto auto auto;
   padding: 10px;
   margin-top: 10%;
   
}

 #img{
    grid-area: 1/ 1;
    border-radius: 50%;
 }
 #user{
    grid-area: 1 / 2;
 }
 #score{
    grid-area: 1 / 3;
 }