main {
  height: 90%;
}

/* LOBBY CARD */
.join-game-card-visibility {
  visibility: hidden;
}
#join-game-card {
  position: fixed;
  width: clamp(150px, 25vw, 500px);
  height: clamp(150px, 15vw, 500px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  /* background: #0B0B0B; */
  background: rgba(0, 0, 0, 0.75);
  border: 2px solid #10f21a;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  transition: 0.1s ease;
}
  #join-game-card:hover {
    transform: translate(-49%, -51%);
    box-shadow: -1px 1px #10f21a, -2px 2px #10f21a, -3px 3px #10f21a,
      -4px 4px #10f21a, -5px 5px #10f21a, -6px 6px #10f21a, -7px 7px #10f21a,
      -8px 8px #10f21a;

    transition: 0.1s ease;
  }
  #join-game-card div {
    width: 45%;
  }
  #separator {
    border: 1px solid #10f21a;
    max-width: 0px;
    height: 75%;
  }
  #join-game-card form {
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #join-game-card form input {
    width: 75%;
    background-color: #0b0b0b;
    border: 1px solid #10f21a;
    text-align: center;
    padding: 2%;
  }
  #join-game-card form input:focus {
    outline: none;
  }
  #join-game-card button {
    width: 75%;
    padding: 2%;
    color: #10f21a;
    background: #0b0b0b;
    border: 1px solid #10f21a;

    transition: 0.1s ease;
  }
  #join-game-card button:hover {
    transform: translate(3%, -3%);
    box-shadow: -1px 1px #10f21a, -2px 2px #10f21a, -3px 3px #10f21a,
      -4px 4px #10f21a;

    transition: 0.1s ease;
  }
  #join-game-card button:active {
    transform: translate(0%, 0%);
    box-shadow: none;

    transition: 0.1s ease;
  }

/* GAME SCREEN */

.game-screen-visibility {
  visibility: hidden;
}

#game-screen {
  display: flex;
  flex-direction:row ;
  justify-content: space-evenly;
  height: 100%;
}

#left-aside {
  max-width: 33%;
  padding: 2%;
}

#right-aside {
  max-width: 33%;
  padding: 2%;
}

code {
  line-height: 22px;
}

#guess-input {
  background: #0b0b0b;
  border: 1px solid #10f21a;
  padding: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
}
  #guess-input:focus {
    outline: none;
  }